<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>PreVision</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="static/css/bootstrap.min.css" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="static/css/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="static/css/owl.theme.default.css" />

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href="static/css/magnific-popup.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="static/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="static/css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('static/background4.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="{{ url_for('landing_page') }}">
							<img class="logo" src="static/logo.png" alt="PreVisionLogo">
							<img class="logo-alt" src="static/logo.png" alt="PreVisionLogo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<!-- <li><a href="#portfolio">Portfolio</a></li> -->
					<li><a href="#service">Services</a></li>
					<!-- <li><a href="#pricing">Prices</a></li> -->
					<li><a href="#team">Team</a></li>
					<!-- <li class="has-dropdown"><a href="#blog">Blog</a>
						<ul class="dropdown">
							<li><a href="blog-single.html">blog post</a></li>
						</ul>
					</li> -->
					<li><a href="#contact">Contact</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">Transforming India Digitally</h1>
							<p class="white-text">
								Providing digital solutions to enhance services via <strong style= "color: yellow">perception</strong>, <strong style= "color: yellow">experience</strong>, <strong style= "color: yellow">prediction</strong>, <strong style= "color: yellow">automation</strong>; to enable <strong style= "color: #00ff00">prevention</strong> and bring continuous <strong style= "color: #00ff00">transformation</strong>.
							</p>
							<a href="#service"><button class="white-btn">Get Started!</button></a>
							<a href="#about"><button class="main-btn">Learn more</button></a>
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- =================================================================== About ===================================================== -->
	<div id="about" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Welcome to PreVision</h2>
				</div>
				<!-- /Section header -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-bolt"></i>
						<h3>Instant</h3>
						<p>Get real-time news and related services instantly and on-the-go with ease just a click away and without any hassle.</p>
						<a href="#">Read more</a>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-check"></i>
						<h3>Reliable</h3>
						<p>Our product has a profound back-end architecture, armed with Machine Learning algorithms to ensure quality.</p>
						<a href="#">Read more</a>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-road"></i>
						<h3>Predictive</h3>
						<p>We aim to analyse every possible domain and make predictive analysis to discover the possibilities that may occur in future.</p>
						<a href="#">Read more</a>
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->

	<!-- ============================================================ Service ======================================================== -->
	<div id="service" class="section" style="padding-bottom: 120px">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Our Services</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-envira"></i>
						<h3>Agriculture</h3>
						<p>Performing trend analysis on data from past using Linear Regression to forecast upcoming happenings.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-inr"></i>
						<h3>Government Functions</h3>
						<p>Acquiring data relevant to government so as to help them to devise better policies for people.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-shopping-cart"></i>
						<h3>Retail</h3>
						<p>Acquire public sentiments on products and services offered to enhance them even further.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-hospital-o"></i>
						<h3>Health Care</h3>
						<p>Gather developments of medical sciences and reach ahead to provide better healthcare facilities.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-file-text-o"></i>
						<a href="{{ url_for('index_page') }}"><h4>Potential Breaking News</h4></a>
						<p>Gather latest tweets and present unmorphed data to people with utmost transparency.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-cogs"></i>
						<h3>Manufacturing</h3>
						<p>Gather public sentiments on products and identify their needs to serve them accordingly.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
						<div class="service">
							<i class="fa fa-laptop"></i>
							<h3>IT Services</h3>
							<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
						</div>
					</div>
					<!-- /service -->
	
					<!-- service -->
					<div class="col-md-4 col-sm-6">
						<div class="service">
							<i class="fa fa-phone"></i>
							<h3>Telecommunication</h3>
							<p>Get user feedback and experiences to enhance the services further and increase customer satisfaction.</p>
						</div>
					</div>
					<!-- /service -->
	
					<!-- service -->
					<div class="col-md-4 col-sm-6">
						<div class="service">
							<i class="fa fa-credit-card"></i>
							<h3>Finance and Insurance</h3>
							<p>Identify user expectations and wants to recommend them curated plans and improvise banking etc.</p>
						</div>
					</div>
					<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->


	<!-- ===============================================================Why Choose Us ============================================== -->
	<div id="features" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title">Why Choose Us</h2>
					</div>
					<p>After doing the ground work, we've discovered few things which would compel one to prefer us.</p>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>A <strong>Unique Universal Platform</strong> Offering <strong>News Analytics as a Service.</strong></p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p><strong>On-Demand</strong>, <strong>Latest Information</strong> ready for <strong>End-User</strong consumption.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Live happenings across multiple functions like <strong>Government</strong>, <strong>Businessess and Services</strong>.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p><strong>Primary feed</strong> for News Channels.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p><strong>Future Predictions</strong> based on <strong>Present Trends</strong>.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p><strong>Legitimate</strong> and <strong>Factual</strong> source of information.</p>
					</div>
				</div>
				<!-- /why choose us content -->

				<!-- About slider -->
				<div class="col-md-6">
					<div id="about-slider" class="owl-carousel owl-theme">
						<img class="img-responsive" src="static/Slider1.jpg" alt="">
						<img class="img-responsive" src="static/Slider2.jpg" alt="">
						<img class="img-responsive" src="static/Slider3.jpg" alt="">
						<img class="img-responsive" src="static/Slider4.jpg" alt="">
						<img class="img-responsive" src="static/Slider5.jpg" alt="">
						<img class="img-responsive" src="static/Slider6.jpeg" alt="">
						<img class="img-responsive" src="static/Slider7.jpg" alt="">
						<img class="img-responsive" src="static/Slider8.jpg" alt="">
					</div>
				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->


	<!-- ====================================================== Numbers ========================================================== -->
	<div id="numbers" class="section sm-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('static/background2.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- number -->
				<div class="col-sm-3 col-xs-6">
					<div class="number">
						<i class="fa fa-users"></i>
						<h3 class="white-text"><span class="counter">1B+</span></h3>
						<span class="white-text">Happy users</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-3 col-xs-6">
					<div class="number">
						<i class="fa fa-usb"></i>
						<h3 class="white-text"><span class="counter">9</span></h3>
						<span class="white-text">Sectors reached</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-3 col-xs-6">
					<div class="number">
						<i class="fa fa-stack-overflow"></i>
						<h3 class="white-text"><span class="counter">1M+</span></h3>
						<span class="white-text">Feeds processed</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-3 col-xs-6">
					<div class="number">
						<i class="fa fa-wpexplorer"></i>
						<h3 class="white-text"><span class="counter">15</span></h3>
						<span class="white-text">Predictions made</span>
					</div>
				</div>
				<!-- /number -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>

	<!-- ==================================================================== Team =========================================== -->
	<div id="team" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Our Team</h2>
				</div>
				<!-- /Section header -->

				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="static/member5.jpg" alt="">
							<div class="overlay">
									<div class="team-social">
										<a href="https://plus.google.com/103957503016432867835"><i class="fa fa-google-plus-official"></i></a>
										<a href="https://www.linkedin.com/in/debakar-roy/"><i class="fa fa-linkedin-square"></i></a>
										<a href="https://twitter.com/debakar_roy"><i class="fa fa-twitter"></i></a>
									</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Debakar Roy</h3>
							<span>Data Analyst</span>
						</div>
					</div>
				</div>
				<!-- /team -->
	
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="static/member4.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="https://www.facebook.com/shubham.debnath.543"><i class="fa fa-facebook"></i></a>
									<a href="https://www.linkedin.com/in/shubhamdebnath47/"><i class="fa fa-linkedin-square"></i></a>
									<a href="https://twitter.com/thedebateman"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Shubham Debnath</h3>
							<span>Data Analyst</span>
						</div>
					</div>
				</div>

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="static/member2.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="https://www.facebook.com/monideep.banerjee.7"><i class="fa fa-facebook"></i></a>
									<a href="https://www.linkedin.com/in/monideep-banerjee/"><i class="fa fa-linkedin-square"></i></a>
									<a href="https://twitter.com/Monideep_Cule"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Monideep Banerjee</h3>
							<span>Content Developer</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="static/member1.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="https://www.facebook.com/subhamsarda96"><i class="fa fa-facebook"></i></a>
									<a href="https://www.linkedin.com/in/shubh96/"><i class="fa fa-linkedin-square"></i></a>
									<a href="https://twitter.com/SubhamSarda"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Subham Sarda</h3>
							<span>UI/UX Developer</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="static/member3.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="https://www.facebook.com/BikramModak013"><i class="fa fa-facebook"></i></a>
									<a href="https://www.linkedin.com/in/bikram-modak/"><i class="fa fa-linkedin-square"></i></a>
									<a href="https://twitter.com/cipher_lad"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Bikram Modak</h3>
							<span>UI/UX Developer</span>
						</div>
					</div>
				</div>
				<!-- /team -->
	
				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="static/member6.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="https://www.facebook.com/Chemicalaakash"><i class="fa fa-facebook"></i></a>
									<a href="https://www.linkedin.com/in/aritra-saha-964626151/"><i class="fa fa-linkedin-square"></i></a>
									<a href="https://twitter.com/Chemicalaakash"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Aritra Saha</h3>
							<span>Content Developer</span>
						</div>
					</div>
				</div>
				<!-- /team -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Team -->

	<!-- Contact -->
	<div id="contact" class="section" style= "padding-bottom: 120px;">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Get in touch</h2>
				</div>
				<!-- /Section-header -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h3>Phone</h3>
						<p>(+91) XXXXX-XXXXX</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>email@support.com</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-map-marker"></i>
						<h3>Address</h3>
						<p>Num, Dummy Location</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact form -->
				<div class="col-md-8 col-md-offset-2">
					<form class="contact-form">
						<input type="text" class="input" placeholder="Name">
						<input type="email" class="input" placeholder="Email">
						<input type="text" class="input" placeholder="Subject">
						<textarea class="input" placeholder="Message"></textarea>
						<button class="main-btn">Send message</button>
					</form>
				</div>
				<!-- /contact form -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Contact -->


	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a href="{{ url_for('landing_page') }}"><img src="static/logo.png" alt="PreVisionLogo"></a>
					</div>
					<!-- /footer logo -->

					<!-- footer follow -->
					<ul class="footer-follow">
						<li><a href="https://developers.facebook.com/docs/graph-api/overview"><i class="fa fa-facebook-official data-src"></i></a></li>
						<li><a href="https://developer.twitter.com/en/docs/tutorials/consuming-streaming-data"><i class="fa fa-twitter data-src"></i></a></li>
						<li><a href="https://developers.google.com/+/web/api/rest/"><i class="fa fa-google-plus-official data-src"></i></a></li>
						<li><a href="https://developers.facebook.com/docs/instagram-api/overview/"><i class="fa fa-instagram data-src"></i></a></li>
						<li><a href="https://developer.linkedin.com/docs/rest-api"><i class="fa fa-linkedin-square data-src"></i></a></li>
						<li><a href="https://developers.google.com/youtube/v3/live/getting-started"><i class="fa fa-youtube data-src"></i></a></li>
						<li><a href="https://developer.apple.com/library/content/documentation/General/Conceptual/News_API_Ref/ReadArticle.html#//apple_ref/doc/uid/TP40015409-CH13-SW1"><i class="fa fa-apple data-src"></i></a></li>
						<li><a href="https://developers.pinterest.com/docs/api/users/"><i class="fa fa-pinterest data-src"></i></a></li>
						<li><a href="https://dev.office.com/Skype/sdks"><i class="fa fa-skype data-src"></i></a></li>
					</ul>
					<!-- /footer follow -->

					<!-- footer copyright -->
					<!-- <div class="footer-copyright">
						<p>Copyright © 2017. All Rights Reserved. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
					</div> -->
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="static/js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="static/js/main.js"></script>

</body>

</html>
